<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__brand-info">
        <div class="footer__brand">
          <svg class="footer__logo-icon" fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" d="M24 4H42V17.3333V30.6667H24V44H6V30.6667V17.3333H24V4Z" fill="currentColor" fill-rule="evenodd"></path>
          </svg>
          <h3 class="footer__logo-text">SayZen</h3>
        </div>
        <p class="footer__tagline">Unlock your potential. Speak the world.</p>
      </div>
      <div class="footer__links-column">
        <h4 class="footer__links-title">Quick Links</h4>
        <ul class="footer__links-list">
          <li><a class="footer__link" href="#">Home</a></li>
          <li><a class="footer__link" href="#">Features</a></li>
          <li><a class="footer__link" href="#">Pricing</a></li>
          <li><a class="footer__link" href="#">Blog</a></li>
        </ul>
      </div>
      <div class="footer__links-column">
        <h4 class="footer__links-title">Legal</h4>
        <ul class="footer__links-list">
          <li><a class="footer__link" href="#">Privacy Policy</a></li>
          <li><a class="footer__link" href="#">Terms of Service</a></li>
          <li><a class="footer__link" href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__copyright">
      <p>© 2024 SayZen. All rights reserved. Designed with passion.</p>
    </div>
  </div>
</footer>
