<div class="modal" id="signupModal">
  <div class="modal__content">
    <div class="modal__header">
      <h3 class="modal__title">Create Your SayZen Account</h3>
      <button class="modal__close-button" id="closeSignupModal">
        <svg class="modal__close-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
      </button>
    </div>
    <form class="form">
      <div class="form__group">
        <label class="form__label" for="signupName">Full Name</label>
        <input class="form__input" id="signupName" name="signupName" placeholder="Your Name" required="" type="text"/>
      </div>
      <div class="form__group">
        <label class="form__label" for="signupEmail">Email Address</label>
        <input class="form__input" id="signupEmail" name="signupEmail" placeholder="you@example.com" required="" type="email"/>
      </div>
      <div class="form__group">
        <label class="form__label" for="signupPassword">Password</label>
        <input class="form__input" id="signupPassword" name="signupPassword" placeholder="Create a strong password" required="" type="password"/>
      </div>
      <button class="btn btn--primary btn--h-11" type="submit">Create Account</button>
    </form>
    <p class="form__footer-text">
      Already have an account? <button class="form__footer-link" id="switchToLogin">Log in</button>
    </p>
  </div>
</div>
