/* app/assets/stylesheets/components/layout.css */

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background-light);
  font-family: var(--font-family-sans);
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
}

@media (min-width: 40rem) {
  .container {
    max-width: var(--screen-sm);
  }
}
@media (min-width: 48rem) {
  .container {
    max-width: var(--screen-md);
  }
}
@media (min-width: 64rem) {
  .container {
    max-width: var(--screen-lg);
  }
}
@media (min-width: 80rem) {
  .container {
    max-width: var(--screen-xl);
  }
}
